.dark .header {
  border-bottom: 1px solid red;
}

@layer base {
}

/* // Noise texture overlay
  // &::before {
  //   content: "";
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   right: 0;
  //   bottom: 0;
  //   background-image: radial-gradient(
  //       circle at 20% 30%,
  //       rgba(94, 234, 212, 0.05) 0%,
  //       transparent 40%
  //     ),
  //     radial-gradient(
  //       circle at 80% 70%,
  //       rgba(139, 92, 246, 0.05) 0%,
  //       transparent 40%
  //     ),
  //     radial-gradient(
  //       circle at 40% 80%,
  //       rgba(236, 72, 153, 0.03) 0%,
  //       transparent 40%
  //     );
  //   opacity: 1;
  //   transition: opacity 0.4s ease;
  //   pointer-events: none;
  //   z-index: -1;
  // } */
